

.gridContainer{
display: grid;
grid-template-columns: 300px 700px;
grid-template-areas:
"one four"
"three five"
"two six"
;
gap: 10px;
}

.boxOne{
height: 200px;
background-color: red;
grid-area: one
}

.boxTwo{
height: 200px;
background-color: green;
grid-area: two
}

.boxThree{
height: 200px;
background-color: blue;
grid-area: three
}

.boxFour{
height: 200px;
background-color: brown;
grid-area: four
}

.boxFive{
height: 200px;
background-color: orange;
grid-area: five
}

.boxSix{
height: 200px;
background-color: hotpink;
grid-area: six
}

.gridContainerTwo{
height: 100vh;
display: grid;
grid-template-columns: 1fr 3fr;
gap: 10px;
grid-template-areas:
"headerGrid headerGrid"
"sidebarGrid mainGrid"
"sidebarGrid extraGrid"
"footerGrid footerGrid";
grid-template-rows: 40px 1fr 40px 30px;
}

.header{
background-color: red;
grid-area: headerGrid;
}

.sidebar{
background-color: green;
grid-area: sidebarGrid;
}

.maincontent{
background-color: blue;
grid-area: mainGrid;
}

.extracontent{
background-color: brown;
grid-area: extraGrid;
}

.footer{
grid-area: footerGrid;
background-color: orange;
}
